
.input, .output {
  padding: 0 25px;
}

.output li {
  text-indent: none;
  color: #e83e8c;
  font-family: monospace;
}

.output .container {
  margin-bottom: 20px;
  background: #F6F6F6;
  border-radius: 5px;
  padding: 20px;
}
